<!DOCTYPE html>
<html ng-app="nameApp">

<head>

     <link rel="stylesheet" href="css/bootstrap.min.css">
     <script src="js/angular.min.js"></script>

    <style>
       body{
         margin-left:500px;
  
         margin-top: 200px;
       }

       p{
        height :30px;
  
        padding :5px;

       }
    </style>
</head>

<body ng-controller="NameCtrl">
   <div class="container col-md-4">
         <form>
             <div class="form-group">
        
             <input type="text" class="form-control" ng-model="fname" placeholder="Enter First Name"><br>
			 
			 <input type="text" class="form-control" ng-model="lname" placeholder="Enter Last Name">
			 
             </div>
		
	     </form>
	     
        <p class="bg-primary"> Hello {{fname}} {{lname}}</p>
	  
	  
	</div>
    <script>
       var nameApp = angular.module('nameApp', []);
	   nameApp.controller('NameCtrl', function ($scope){
	   $scope.fname="Sudip";
	   $scope.lname="Sarker";
	
	   });
    </script>
</body>